@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .underline-blue {
    @apply after:absolute after:bottom-[11px] after:left-0 after:right-0 after:-z-10 after:mx-auto after:h-2 after:w-full after:bg-secondary after:content-[''];
  }
}

@layer utilities {
  .transition-collapse {
    transition: height 350ms ease;
  }

  .transition-featured-game-card {
    transition: all 400ms ease;
  }

  .h-fill {
    height: -webkit-fill-available;
  }

  /* Hide scrollbar for Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}
